.carousel {
  margin: 0 -16px;
  position: relative;

  &__arrows {
    display: none;
    position: absolute;
    top: 50%;
    left: -60px;
    right: -60px;
    transform: translateY(-50%);
    justify-content: space-between;
    align-items: center;

    @include for-xxl {
      display: flex;
    }
  }

  &__arrow {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../img/icons/carousel-arrow.svg') no-repeat center / 40px;
    border: none;
    cursor: pointer;
    border-radius: 50%;

    &:disabled {
      display: none;
    }

    & svg {
      display: none;
    }

    &--next {
      transform: rotate(180deg);
    }
  }

  &__track {
    margin-bottom: 10px;
  }

  &__list {
    &--centered {
      align-items: center;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    & li {
      margin-right: 5px;
    }

    & li:last-child {
      margin-right: 0;
    }
  }

  &__pagination-item {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: none;
    position: relative;
    background: none;
    cursor: pointer;
    border-radius: 50%;

    @include for-md {
      width: 25px;
      height: 25px;
    }

    &.is-active {
      cursor: default;
    }

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      bottom: 5px;
      left: 5px;
      right: 5px;
      background: #c4c4c4;
      transition: $transition;
      border-radius: 50%;
    }

    &.is-active::before {
      background: $bg-accent;
    }
  }
}
