.certificates {
  &__columns {
    flex-direction: column;

    @include for-lg {
      flex-direction: row;
    }
  }

  &__column {
    flex-basis: 50%;
    align-self: center;

    @include for-lg {
      align-self: stretch;
      flex-basis: auto;
    }
  }

  &__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > li {
      padding-left: 36px;
      margin-bottom: 20px;
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        width: 24px;
        height: 24px;
        background: url('../img/icons/tick.svg') no-repeat 0 center / contain;
      }
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
