.certificate-card {
  box-shadow: 0 4px 25px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 32px;
  border-radius: 10px;
  overflow: hidden;

  @include for-md {
    margin-bottom: 0;
  }

  &:nth-child(2) {
    margin-top: -90px;
    margin-left: 80px;

    @include for-md {
      margin-top: -150px;
      margin-left: 250px;
    }
  }

  &:nth-child(3) {
    margin-top: -90px;
    margin-left: 40px;

    @include for-md {
      margin-top: -100px;
      margin-left: 100px;
    }
  }

  &__image {
    display: block;
    width: 200px;

    @include for-md {
      width: 300px;
    }
  }
}
