.courses-content {
  &__video-wrap {
    margin-bottom: 20px;

    @include for-md {
      margin-bottom: 40px;
    }
  }

  &__video {
    display: block;
    width: 100%;
    min-height: 400px;
  }

  &__columns {
    justify-content: center;
  }

  &__column {
    flex-basis: 100%;

    @include for-md {
      flex-basis: 50%;
    }
  }
}
