.courses-content-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__number-wrap {
    display: inline-block;
    position: relative;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background: $bg-accent-gradient;
    margin-bottom: 20px;

    &::before {
      content: '';
      position: absolute;
      top: 6px;
      bottom: 6px;
      left: 6px;
      right: 6px;
      border-radius: 50%;
      background: white;
    }
  }

  &__number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $bg-accent-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 1.2;

    @include for-md {
      font-size: 20px;
    }
  }
}
