.course-advantages-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
  background: no-repeat center 20px / auto 70px;

  &--quality {
    background-image: url('../img/icons/diamond.svg');
  }

  &--technique {
    background-image: url('../img/icons/gear.svg');
  }

  &--studying {
    background-image: url('../img/icons/graduation-cap.svg');
  }

  &__heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 20px;

    @include for-md {
      font-size: 32px;
    }
  }

  &__list {
    & > li {
      margin-bottom: 20px;
      padding-left: 36px;
      position: relative;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 500;

      @include for-md {
        font-size: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        width: 24px;
        height: 24px;
        background: url('../img/icons/tick.svg') no-repeat 0 center / contain;
      }
    }
  }
}
