.course-type-card {
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 4px 25px 10px rgba(0, 0, 0, 0.1);
  transition: $transition;

  &:hover {
    transform: translateY(-5px);
  }

  @include for-md {
    padding: 20px 30px;
  }

  &__heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
  }

  &__prices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__price {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;

    &--old {
      text-decoration: line-through;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
  }

  &__button {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    flex-shrink: 0;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
    font-size: 16px;
    color: $text-white;
    background: $bg-accent-gradient;
    border-radius: 10px;
    padding: 16px 32px;
    align-self: center;
    margin-top: auto;

    &:hover {
      background: $bg-accent-gradient-darken;
    }
  }
}
