.cta-blue-image {
  margin-top: 40px;

  @include for-md {
    margin-top: 70px;
  }

  @include for-lg {
    margin-top: 100px;
  }

  &__container {
    display: flex;
  }

  &__form-wrap {
    background: $bg-accent;
    flex-grow: 1;
    padding: 20px 16px;
    margin-right: -16px;
    margin-left: -16px;

    @include for-sm {
      border-radius: 15px;
      padding: 50px;
      margin-right: 0;
      margin-left: 0;
    }

    @include for-lg {
      flex-grow: 0;
      padding: 50px 35px 50px 50px;
      max-width: 460px;
      border-radius: 15px 0 0 15px;
    }
  }

  &__heading {
    font-size: 26px;
    margin-bottom: 20px;
    text-align: left;

    @include for-sm {
      margin-bottom: 30px;
      font-size: 32px;
    }

    @include for-md {
      text-align: center;
    }
  }

  &__button {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  &__image-wrap {
    display: none;
    flex-grow: 1;
    background: url('../img/cta-blue-image.png') no-repeat center / cover;
    border-radius: 0 15px 15px 0;
    position: relative;

    @include for-lg {
      display: block;
    }

    &::before {
      position: absolute;
      content: '';
      display: inline-block;
      width: 15px;
      top: 0;
      bottom: 0;
      background: $bg-accent;
      border-radius: 0 15px 15px 0;
    }
  }
}
