.header-inner {
  flex-grow: 1;
  display: none;
  width: 0;
  height: 0;

  @include for-md {
    display: block;
    width: auto;
    height: auto;
  }

  &__top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 24px;

    @include for-md {
      padding-top: 20px;
      padding-bottom: 20px;
      justify-content: space-between;
    }

    @include for-xl {
      padding-bottom: 24px;
      justify-content: flex-end;
    }
  }

  &__address-wrap {
    position: relative;
    color: $text-white;
    padding-left: 30px;
    display: flex;
    flex-direction: column;

    @include for-xl {
      margin-right: 35px;
    }

    &::before {
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      background: url('../img/icons/address.svg') no-repeat center;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__address {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
    padding: 6px 4px;
    position: relative;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
}
