.header-menu {
  display: flex;
  justify-content: flex-end;

  @include for-md {
    justify-content: center;
  }

  @include for-xl {
    justify-content: flex-end;
  }

  &__item {
    padding: 23px 5px;
    color: $text-white;
    font-weight: 600;
    font-size: 16px;
    margin-right: 30px;
    position: relative;
    text-align: center;

    @include for-md {
      margin-right: 10px;
    }

    @include for-xl {
      margin-right: 30px;
    }

    &:last-child {
      margin-right: 0;
    }

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      width: 100%;
      height: 0;
      top: 0;
      left: 0;
      background: $bg-accent;
      transition: $transition;
    }

    &:hover::before {
      height: 5px;
    }
  }
}
