.mobile-buttons {
  position: fixed;
  right: 16px;
  bottom: 40px;
  display: flex;
  flex-direction: column;

  @include for-md {
    display: none;
  }

  &__button {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: $transition;

    &:last-child {
      margin-bottom: 0;
    }

    &--scroll-top {
      opacity: 0.6;
      background: #ddd url('../img/icons/scroll-top.svg') no-repeat center
        calc(50% - 1px) / 25px;
    }

    &--phone {
      background: url('../img/icons/phone.svg') no-repeat center / 18px,
        $bg-accent-gradient;
    }

    &--hidden {
      transform: translateX(calc(100% + 16px));
    }
  }
}
