.promo {
  background: rgba(86, 86, 86, 0.4);
  position: relative;

  &__image-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;

    @include for-md {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &__heading {
    margin-bottom: 10px;

    @include for-md {
      margin-bottom: 20px;
      max-width: 600px;
    }

    &--countdown {
      margin-bottom: 16px;

      @include for-md {
        margin-bottom: 32px;
      }
    }
  }

  &__text {
    font-size: 16px;
    margin-bottom: 20px;

    @include for-md {
      font-size: 18px;
      margin-bottom: 40px;
      max-width: 630px;
    }
  }

  &__countdown {
    margin-bottom: 10px;
  }

  &__button {
    &--cta {
      margin-bottom: 105px;

      @include for-md {
        margin-bottom: 88px;
      }
    }

    &--scroller {
      display: none;
      align-self: center;

      @include for-md {
        display: inline-block;
      }
    }
  }
}
