.reason-card {
  padding-top: 110px;
  background: no-repeat center 10px / auto 90px;

  @include for-md {
    padding-top: 180px;
    background-size: auto 140px;
    background-position: center 20px;
  }

  &__desc {
    font-weight: 500;
    font-size: 16px;
    text-align: center;

    @include for-md {
      font-size: 18px;
    }
  }

  &--pain {
    background-image: url('../img/icons/reason-pain.svg');
  }

  &--rest {
    background-image: url('../img/icons/reason-rest.svg');
  }

  &--energy {
    background-image: url('../img/icons/reason-energy.svg');
  }

  &--stress {
    background-image: url('../img/icons/reason-stress.svg');
  }

  &--care {
    background-image: url('../img/icons/reason-care.svg');
  }

  &--fat {
    background-image: url('../img/icons/reason-fat.svg');
  }
}
