.service-card {
  background: $bg-white;
  border-radius: 10px;
  box-shadow: 0 4px 25px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: $transition;

  &:hover {
    transform: translateY(-5px);
  }

  &__image-wrap {
    height: 160px;
    border-radius: 0 0 15px 15px;
    overflow: hidden;

    @include for-sm {
      height: 220px;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    padding: 20px 20px 25px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__heading {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__text {
    display: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 20px;

    @include for-sm {
      display: block;
    }
  }

  &__content-inner {
    display: flex;
    flex-direction: column;
    margin-top: auto;

    @include for-md {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__prices {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    @include for-md {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-right: 10px;
      margin-bottom: 0;
    }
  }

  &__price {
    white-space: nowrap;
    font-weight: 600;
    font-size: 20px;

    @include for-sm {
      font-size: 18px;
    }

    &--old {
      text-decoration: line-through;
    }
  }
}
