.social-icons {
  display: flex;
  align-items: center;

  &__icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: no-repeat center / 40px auto;
    margin-right: 10px;

    @include for-md {
      width: 32px;
      height: 32px;
      background-size: 28px auto;
      margin-right: 8px;
    }

    &:last-child {
      margin-right: 0;
    }

    &--instagram {
      background-image: url('../img/icons/instagram.svg');
    }

    &--whatsapp {
      background-image: url('../img/icons/whatsapp.svg');
    }

    &--telegram {
      background-image: url('../img/icons/telegram.svg');
    }
  }
}
