.target-audience {
  margin-top: 40px;

  @include for-md {
    margin-top: 70px;
  }

  @include for-lg {
    margin-top: 100px;
  }

  &__container {
    display: flex;
  }

  &__content-wrap {
    flex-grow: 1;
    padding: 40px 16px;
    margin-right: -16px;
    margin-left: -16px;

    @include for-sm {
      padding: 70px 0;
      margin-right: 0;
      margin-left: 0;
    }

    @include for-lg {
      padding: 70px 40px;
      flex-grow: 0;
      max-width: 600px;
    }
  }

  &__heading {
    margin-bottom: 20px;

    @include for-md {
      margin-bottom: 40px;
    }
  }

  &__list {
    & > li {
      margin-bottom: 20px;
      padding-left: 36px;
      position: relative;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 500;

      @include for-md {
        font-size: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        width: 24px;
        height: 24px;
        background: url('../img/icons/tick.svg') no-repeat 0 center / contain;
      }
    }
  }

  &__image-wrap {
    display: none;
    flex-grow: 1;
    background: url('../img/target-audience.jpg') no-repeat center / cover;

    @include for-lg {
      display: block;
    }
  }
}
