.team-card {
  display: flex;
  flex-direction: column;

  &__image-wrap {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
    align-self: center;

    @include for-md {
      margin-bottom: 10px;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__titles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;

    @include for-md {
      font-size: 24px;
    }
  }
}
