.why-we {
  margin-top: 40px;

  @include for-md {
    margin-top: 70px;
  }

  @include for-lg {
    margin-top: 100px;
  }

  &__container {
    display: flex;
  }

  &__content-wrap {
    background: $bg-accent;
    flex-grow: 1;
    padding: 20px 16px;
    margin-right: -16px;
    margin-left: -16px;

    @include for-sm {
      border-radius: 15px;
      padding: 50px;
      margin-right: 0;
      margin-left: 0;
    }

    @include for-lg {
      flex-grow: 0;
      padding: 50px 50px 50px 35px;
      max-width: 700px;
      border-radius: 0 15px 15px 0;
    }
  }

  &__heading {
    margin-bottom: 20px;

    @include for-md {
      margin-bottom: 40px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 16px;

    @include for-md {
      font-size: 18px;
    }

    &--bold {
      font-weight: 600;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image-wrap {
    display: none;
    flex-grow: 1;
    background: url('../img/why-we.png') no-repeat center / cover;
    border-radius: 15px 0 0 15px;
    position: relative;

    @include for-lg {
      display: block;
    }

    &::before {
      position: absolute;
      content: '';
      display: inline-block;
      width: 15px;
      top: 0;
      bottom: 0;
      right: 0;
      background: $bg-accent;
      border-radius: 15px 0 0 15px;
    }
  }
}
