{% load static %}

<script src="{% static 'js/vendor/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/vendor/move_to.min.js' %}"></script>
<script src="{% static 'js/vendor/splide.min.js' %}"></script>
<script src="{% static 'js/vendor/imask.js' %}"></script>
<script src="{% static 'js/vendor/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/vendor/wow.min.js' %}"></script>
<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'js/mobile_menu.js' %}"></script>
<script src="{% static 'js/scroll_top.js' %}"></script>
<script src="{% static 'js/scrolls.js' %}"></script>
<script src="{% static 'js/masks.js' %}"></script>
<script src="{% static 'js/response_modal.js' %}"></script>
{% if discount.seconds_left %}
  <script src="{% static 'js/countdown.js' %}"></script>
{% endif %}
<script>
  new WOW().init();
</script>
