<footer class="section footer" id="contacts">
  <div class="container">
    <h2 class="heading heading--section heading--centered section__heading footer__heading wow animate__animated animate__fadeIn">
      Мы всегда <span class="heading--accent">рады видеть</span><br>вас в нашем
      центре</h2>
  </div>
  <div class="footer-map">
    <div class="container footer-map__container">
      <div class="footer-caption wow animate__animated animate__fadeIn">
        <h2 class="heading heading--section section__heading footer-caption__heading wow animate__animated animate__fadeIn">
          Контакты (Зенкова)</h2>
        <div
            class="footer-caption__inner wow animate__animated animate__fadeIn"
            data-wow-delay="0.2s">
          <h4 class="footer-caption__title">Телефон</h4>
          <a class="footer-caption__text footer-caption__text--phone footer-caption__text--underline"
             href="tel:+77788599079">+7 (778) 859-90-79</a>
        </div>
        <div
            class="footer-caption__inner wow animate__animated animate__fadeIn"
            data-wow-delay="0.4s">
          <h4 class="footer-caption__title">Адрес</h4>
          <a class="footer-caption__text footer-caption__text--underline"
             href="https://go.2gis.com/14uxg" target="_blank">ЖК Сункар,
            Зенкова, 59, Алматы</a>
        </div>
        <div
            class="footer-caption__inner wow animate__animated animate__fadeIn"
            data-wow-delay="0.8s">
          <h4 class="footer-caption__title">Время работы</h4>
          <span class="footer-caption__text">Пн - Сб с 8:00 до 22:00</span>
        </div>
        <div
            class="footer-caption__inner wow animate__animated animate__fadeIn"
            data-wow-delay="1s">
          <h4 class="footer-caption__title">Мы в соцсетях</h4>
          <div class="social-icons">
            <a class="social-icons__icon social-icons__icon--instagram"
               href="https://instagram.com/massage_atlant" target="_blank"></a>
            <a class="social-icons__icon social-icons__icon--whatsapp"
               href="https://mssg.me/atlant.zenkova" target="_blank"></a>
          </div>
        </div>
      </div>
      <div class="footer-caption wow animate__animated animate__fadeIn">
        <h2 class="heading heading--section section__heading footer-caption__heading wow animate__animated animate__fadeIn">
          Контакты (Гагарина)</h2>
        <div
            class="footer-caption__inner wow animate__animated animate__fadeIn"
            data-wow-delay="0.2s">
          <h4 class="footer-caption__title">Телефон</h4>
          <a class="footer-caption__text footer-caption__text--phone footer-caption__text--underline"
             href="tel:+77472333348">+7 (747) 233-33-48</a>
        </div>
        <div
            class="footer-caption__inner wow animate__animated animate__fadeIn"
            data-wow-delay="0.4s">
          <h4 class="footer-caption__title">Адрес</h4>
          <a class="footer-caption__text footer-caption__text--underline"
             href="https://go.2gis.com/gqhms20" target="_blank">Проспект
            Гагарина, 236Б, 3 этаж, Алматы</a>
        </div>
        <div
            class="footer-caption__inner wow animate__animated animate__fadeIn"
            data-wow-delay="0.8s">
          <h4 class="footer-caption__title">Время работы</h4>
          <span class="footer-caption__text">Пн - Сб с 8:00 до 22:00</span>
        </div>
        <div
            class="footer-caption__inner wow animate__animated animate__fadeIn"
            data-wow-delay="1s">
          <h4 class="footer-caption__title">Мы в соцсетях</h4>
          <div class="social-icons">
            <a class="social-icons__icon social-icons__icon--instagram"
               href="https://instagram.com/massage_atlant" target="_blank"></a>
            <a class="social-icons__icon social-icons__icon--whatsapp"
               href="https://mssg.me/atlant_massage" target="_blank"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-map__map wow animate__animated animate__fadeIn"
         data-wow-delay="0.2s"
         id="map"></div>
  </div>
</footer>