<div class="mobile-buttons wow animate__animated animate__fadeIn" data-wow-delay="1s">
  <a class="mobile-buttons__button mobile-buttons__button--scroll-top mobile-buttons__button--hidden move-to"
     href="#"></a>
  <a class="mobile-buttons__button mobile-buttons__button--phone"
     href="tel:+77788599079"></a>
</div>