{% load static %}

<link rel="preconnect" href="https://fonts.gstatic.com">
<link
    href="https://fonts.googleapis.com/css2?family=Cuprum:wght@400;700&family=Montserrat:wght@400;500;600;700&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.min.css' %}">
<script
    src="https://api-maps.yandex.ru/2.1/?apikey=f0069b95-0c38-4f21-a5f8-37c0b8804055&lang=ru_RU"></script>
{% if settings.IS_PRODUCTION %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-R0LQ1WC9M4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-R0LQ1WC9M4');
  </script>
  <!-- Yandex.Metrika counter -->
  <script>
     (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
     m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
     (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

     ym(85589731, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
     });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/85589731" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
{% endif %}
