{% load price %}

<section class="section services" id="services">
  <div class="container services__container">
    <h2 class="heading heading--section heading--centered section__heading wow animate__animated animate__fadeIn">
      Наши услуги</h2>
    <div class="columns columns--wrap services__columns"
         id="massage-cards-container">
      {% for massage in massages %}
        <div
            class="column services__column wow animate__animated animate__fadeIn">
          <div class="service-card">
            <div class="service-card__image-wrap">
              <img class="service-card__image"
                   src="{{ massage.thumbnail.url }}"
                   alt="{{ massage.name }}">
            </div>
            <div class="service-card__content">
              <h3 class="service-card__heading">{{ massage.name }}</h3>
              <p class="service-card__text">{{ massage.short_description }}</p>
              <div class="service-card__content-inner">
                <div class="service-card__prices">
                    <span
                        class="service-card__price service-card__price--old">{{ massage.old_price|beautify_price }} тг</span>
                  <span
                      class="service-card__price">{{ massage.price|beautify_price }} тг</span>
                </div>
                <a class="button button--service-card"
                   href="{% url 'landing:massage_detail' massage.slug %}"
                   target="_blank">Подробнее</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <a class="button button--service services__button"
       href="#" id="massage-cards-button">Открыть еще</a>
  </div>
</section>