<div class="mobile-menu">
  <div class="container mobile-menu__container">
    {% for menu_item in menu_items %}
      <a class="mobile-menu__item {% if menu_item.anchor %}move-to{% endif %}"
         href="{{ menu_item.href }}">{{ menu_item.text }}</a>
    {% endfor %}
  </div>
</div>