<section class="section" id="testimonials">
  <div class="container">
    <h2 class="heading heading--section heading--centered section__heading wow animate__animated animate__fadeIn">
      Отзывы</h2>
    <div class="splide carousel wow animate__animated animate__fadeIn"
         id="testimonials-carousel" data-wow-delay="0.2s">
      <div class="splide__track carousel__track">
        <ul class="splide__list columns carousel__list--centered">
          {% for testimonial in testimonials %}
            <li class="splide__slide column">
              <div class="testimonial-card">
                {% if testimonial.video_url %}
                  <iframe class="testimonial-card__video"
                          src="{{ testimonial.video_url }}"
                          title="YouTube video player"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen></iframe>
                {% else %}
                  <img class="testimonial-card__image"
                       src="{{ testimonial.image.url }}" alt="#">
                {% endif %}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>