{% extends 'base.html' %}
{% load static %}

{% block title %}Центр спортивного и моделирующего массажа Атлант{% endblock %}

{% block body %}
  <div class="promo">
    <div class="promo__image-wrap">
      <img class="promo__image" src="{% static 'img/promo/index.jpg' %}"
           alt="promo">
    </div>
    <div class="container">
      <header class="header">
        <a class="header__brand wow animate__animated animate__fadeIn"
           href="{% url 'landing:index' %}">Центр
          спортивного <span class="header__brand--accent">моделирующего</span>
          массажа</a>
        <button class="menu-button wow animate__animated animate__fadeIn">
          <span class="menu-button__middle-line"></span>
        </button>
        {% include 'landing/partials/header_inner.html' %}
      </header>
      <div class="promo__content">
        <h1 class="heading heading--white promo__heading wow animate__animated animate__fadeIn">
          Массаж в Алматы от профессионалов</h1>
        <p class="text text--white promo__text wow animate__animated animate__fadeIn"
           data-wow-delay="0.2s">
          Сертифицированные мастера, работающие только на результат</p>
        {% if discount.seconds_left %}
          {% include 'partials/countdown.html' %}
          <p class="heading heading--white heading--medium promo__heading promo__heading--countdown wow animate__animated animate__fadeIn"
             data-wow-delay="0.6s">Сейчас -{{ discount.percent }}% на любой вид
            массажа</p>
        {% endif %}
        <a class="button button--cta promo__button--cta move-to wow animate__animated animate__fadeIn cta-button"
           href="#cta"
           data-mt-tolerance="100"
           data-wow-delay="{% if discount.seconds_left %}0.8s{% else %}0.4s{% endif %}">Записаться</a>
        <button class="button button--scroller promo__button--scroller move-to"
                data-target="#about-us"></button>
      </div>
    </div>
  </div>
  {% include 'landing/partials/mobile_menu.html' %}
  <section class="section about-us" id="about-us">
    <div class="container">
      <h2 class="heading heading--section section__heading wow animate__animated animate__fadeIn">
        О
        нас</h2>
      <div class="columns about-us__columns">
        <div data-wow-delay="0.2s"
             class="column about-us__column about-us__column--first wow animate__animated animate__fadeIn">
          <p class="text">За <span class="text--accent">3 года</span> работы центра более <span
              class="text--accent">3000</span> довольных клиентов</p>
          <br>
          <p class="text">Массаж от Центра спортивного моделирующего массажа <span
              class="text--accent">«Atlant»</span> — это:</p>
          <br>
          <ul class="text">
            <li>• Ваше здоровое тело</li>
            <li>• Эффективные решения физических и эстетических проблем тела</li>
            <li>• Без использования химических и механических средств или хирургических
              вмешательств
            </li>
          </ul>
          <br>
          <p class="text">Многолетний опыт работы позволил нам разработать особые методики массажа,
            которые дают <span class="text--accent">гарантированный результат</span> в борьбе с
            усталостью, болями, проблемными зонами и лишними сантиметрами</p>
          <br>
          <p class="text">Наше отличие от других кабинетов массажа в том, что мы делаем акцент
            именно на пользе массажа, а не на пафосе бренда, ненужных манипуляций и декоре
            помещений</p>
          <br>
          <p class="text">Это позволяет радовать клиентов <span class="text--accent">высоким качеством</span>
            и <span class="text--accent">приятными ценами</span></p>
        </div>
        <div
            class="column about-us__column wow animate__animated animate__fadeIn"
            data-wow-delay="0.4s">
          <img class="about-us__image" src="{% static 'img/logo.svg' %}"
               alt="atlant">
        </div>
      </div>
    </div>
  </section>
  {% include 'landing/partials/massages.html' %}
  <section class="section reasons">
    <div class="container">
      <h2 class="heading heading--section section__heading wow animate__animated animate__fadeIn">
        6
        причин записаться<br>к нам на массаж
        <span class="heading--accent wow animate__animated animate__fadeIn"
              data-wow-delay="0.2s">уже сегодня</span>
      </h2>
      <div class="columns columns--wrap reasons__columns">
        <div
            class="column reasons__column wow animate__animated animate__fadeIn">
          <div class="reason-card reason-card--pain">
            <p class="reason-card__desc">Вас беспокоят боли в спине, шее?</p>
          </div>
        </div>
        <div
            class="column reasons__column wow animate__animated animate__fadeIn"
            data-wow-delay="0.2s">
          <div class="reason-card reason-card--rest">
            <p class="reason-card__desc">Вам давно не удавалось отдохнуть
              морально?</p>
          </div>
        </div>
        <div
            class="column reasons__column wow animate__animated animate__fadeIn"
            data-wow-delay="0.4s">
          <div class="reason-card reason-card--energy">
            <p class="reason-card__desc">Ваша работоспособность упала, не
              хватает бодрости и
              сил?</p>
          </div>
        </div>
        <div
            class="column reasons__column wow animate__animated animate__fadeIn"
            data-wow-delay="0.6s">
          <div class="reason-card reason-card--stress">
            <p class="reason-card__desc">Вы стали раздражительны из-за
              постоянного стресса?</p>
          </div>
        </div>
        <div
            class="column reasons__column wow animate__animated animate__fadeIn"
            data-wow-delay="0.8s">
          <div class="reason-card reason-card--care">
            <p class="reason-card__desc">Вы заботитесь о своем физическом и
              психологическом
              здоровье и выбираете профилактику?</p>
          </div>
        </div>
        <div
            class="column reasons__column wow animate__animated animate__fadeIn"
            data-wow-delay="1s">
          <div class="reason-card reason-card--fat">
            <p class="reason-card__desc">Вы хотите уменьшить объемы, избавиться
              от целлюлита?</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="cta-blue-image wow animate__animated animate__fadeIn"
           id="cta">
    <div class="container cta-blue-image__container">
      <div class="cta-blue-image__form-wrap">
        <h2 class="heading heading--white cta-blue-image__heading">Сейчас у нас супер акции!</h2>
        <form class="client-request-form" action="{% url 'clients:create' %}">
          <div class="form form--vertical">
            <input type="hidden" name="tag" value="{{ request.path }}">
            <label class="form__item">
              <input class="form__input" type="text" id="cta-input"
                     placeholder="Введите ваше имя" name="name">
            </label>
            <label class="form__item">
              <input class="form__input phone-mask" type="text"
                     placeholder="+_ (___) ___-__-__" name="phone_number">
            </label>
            <button class="button button--cta cta-blue__button" type="submit">
              Узнать об акциях
            </button>
          </div>
        </form>
      </div>
      <div class="cta-blue-image__image-wrap"></div>
    </div>
  </section>
  {% include 'landing/partials/testimonials.html' %}
  <section class="cta-blue wow animate__animated animate__fadeIn">
    <div class="container">
      <div class="columns cta-blue__columns">
        <div class="column cta-blue__column cta-blue__column--left">
          <h2 class="heading heading--section heading--white cta-blue__heading">
            Прямо сейчас скидки на все процедуры</h2>
          <p class="text text--white cta-blue__text">Оставьте свои контакты и
            наш менеджер перезвонит вам</p>
        </div>
        <div class="column cta-blue__column cta-blue__column--right">
          <form class="client-request-form"
                action="{% url 'clients:create' %}">
            <div class="form form--vertical">
              <input type="hidden" name="tag" value="{{ request.path }}">
              <label class="form__item">
                <input class="form__input" type="text" name="name"
                       placeholder="Введите ваше имя">
              </label>
              <label class="form__item">
                <input class="form__input phone-mask" type="text"
                       placeholder="+_ (___) ___-__-__" name="phone_number">
              </label>
              <button class="button button--cta cta-blue__button"
                      type="submit">
                Записаться сейчас
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  {% include 'landing/partials/specialists.html' %}
  <section class="cta-image wow animate__animated animate__fadeIn">
    <div class="container">
      <h2 class="heading heading--section heading--white cta-image__heading">
        Остались вопросы?</h2>
      <p class="text text--white cta-image__text">Оставьте свои контакты и наш
        менеджер перезвонит вам</p>
      <form class="client-request-form" action="{% url 'clients:create' %}">
        <div class="form">
          <input type="hidden" name="tag" value="{{ request.path }}">
          <div class="columns cta-image__columns">
            <div class="column cta-image__column">
              <label class="form__item">
                <input class="form__input" type="text" name="name"
                       placeholder="Введите ваше имя">
              </label>
            </div>
            <div class="column cta-image__column">
              <label class="form__item">
                <input class="form__input phone-mask" type="text"
                       placeholder="+_ (___) ___-__-__" name="phone_number">
              </label>
            </div>
            <div class="column cta-image__column">
              <label class="form__item">
                <button class="button button--cta cta-image__button">Записаться
                  сейчас
                </button>
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
{% endblock %}

{% block extra_bottom_imports %}
  <script src="{% static 'js/index/carousels.js' %}"></script>
  <script src="{% static 'js/index/massage_cards.js' %}"></script>
  <script src="{% static 'js/cta.js' %}"></script>
  <script src="{% static 'js/client_request_form.js' %}"></script>
{% endblock %}
