{% extends 'base.html' %}
{% load static %}
{% load price %}

{% block title %}{{ massage.name }}{% endblock %}

{% block body %}
  <div class="promo">
    <div class="promo__image-wrap">
      <img class="promo__image"
           src="{{ massage.image.url }}"
           alt="{{ massage.name }}">
    </div>
    <div class="container">
      <header class="header">
        <a class="header__brand wow animate__animated animate__fadeIn"
           href="{% url 'landing:index' %}">Центр
          спортивного <span class="header__brand--accent">моделирующего</span>
          массажа</a>
        <button class="menu-button wow animate__animated animate__fadeIn">
          <span class="menu-button__middle-line"></span>
        </button>
        {% include 'landing/partials/header_inner.html' %}
      </header>
      <div class="promo__content">
        <h1 class="heading heading--white promo__heading wow animate__animated animate__fadeIn">{{ massage.name }}</h1>
        <p class="text text--white promo__text wow animate__animated animate__fadeIn"
           data-wow-delay="0.2s">
          Длительность массажа {{ massage.duration }}<br>
          Стоимость - {{ massage.price|beautify_price }} тг
          вместо {{ massage.old_price|beautify_price }} тг</p>
        {% if discount.seconds_left %}
          {% include 'partials/countdown.html' %}
          <p class="heading heading--white heading--medium promo__heading promo__heading--countdown wow animate__animated animate__fadeIn"
             data-wow-delay="0.6s">Сейчас -{{ discount.percent }}% на любой вид
            массажа</p>
        {% endif %}
        <a class="button button--cta promo__button--cta move-to wow animate__animated animate__fadeIn cta-button"
           href="#cta"
           data-mt-tolerance="100"
           data-wow-delay="{% if discount.seconds_left %}0.8s{% else %}0.4s{% endif %}">Записаться</a>
        <button class="button button--scroller promo__button--scroller move-to"
                data-target="#description"></button>
      </div>
    </div>
  </div>
  {% include 'landing/partials/mobile_menu.html' %}
  <section class="section" id="description">
    <div class="container">
      <h2 class="heading heading--section section__heading wow animate__animated animate__fadeIn">
        Описание</h2>
      <div class="text wow animate__animated animate__fadeIn"
           data-wow-delay="0.2s">
        {{ massage.description|safe }}
      </div>
    </div>
  </section>
  <section class="section" id="results">
    <div class="container">
      <h2 class="heading heading--section heading--centered section__heading wow animate__animated animate__fadeIn">
        Наши работы</h2>
      <div class="splide carousel" id="results-carousel">
        <div class="splide__track carousel__track">
          <ul class="splide__list columns carousel__list--centered">
            {% for result in massage.results.all %}
              <li class="splide__slide column wow animate__animated animate__fadeIn">
                <div class="result-card">
                  {% if result.video_url %}
                    <iframe class="result-card__video"
                            src="{{ result.video_url }}"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                  {% else %}
                    <img class="result-card__image"
                         src="{{ result.image.url }}" alt="#">
                  {% endif %}
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="cta-blue wow animate__animated animate__fadeIn" id="cta">
    <div class="container">
      <div class="columns cta-blue__columns">
        <div class="column cta-blue__column cta-blue__column--left">
          <h2 class="heading heading--section heading--white cta-blue__heading">
            Прямо сейчас скидки на все процедуры</h2>
          <p class="text text--white cta-blue__text">Оставьте свои контакты и
            наш менеджер перезвонит вам</p>
        </div>
        <div class="column cta-blue__column cta-blue__column--right">
          <form class="client-request-form"
                action="{% url 'clients:create' %}">
            <div class="form form--vertical">
              <input type="hidden" name="tag" value="{{ request.path }}">
              <label class="form__item">
                <input class="form__input" type="text" name="name"
                       placeholder="Введите ваше имя" id="cta-input">
              </label>
              <label class="form__item">
                <input class="form__input phone-mask" type="text"
                       placeholder="+_ (___) ___-__-__" name="phone_number">
              </label>
              <button class="button button--cta cta-blue__button">Записаться
                сейчас
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="section services">
    <div class="container services__container">
      <h2 class="heading heading--section heading--centered section__heading wow animate__animated animate__fadeIn">
        Другие услуги</h2>
      <div class="columns columns--wrap services__columns">
        {% for neighbor in neighbors %}
          <div
              class="column services__column wow animate__animated animate__fadeIn">
            <div class="service-card">
              <div class="service-card__image-wrap">
                <img class="service-card__image"
                     src="{{ neighbor.thumbnail.url }}"
                     alt="{{ neighbor.name }}">
              </div>
              <div class="service-card__content">
                <h3 class="service-card__heading">{{ neighbor.name }}</h3>
                <p class="service-card__text">{{ neighbor.short_description }}</p>
                <div class="service-card__content-inner">
                  <div class="service-card__prices">
                      <span
                          class="service-card__price service-card__price--old">{{ neighbor.old_price|beautify_price }} тг</span>
                    <span
                        class="service-card__price">{{ neighbor.price|beautify_price }} тг</span>
                  </div>
                  <a class="button button--service-card"
                     href="{% url 'landing:massage_detail' neighbor.slug %}">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}

{% block extra_bottom_imports %}
  <script src="{% static 'js/massage_details/carousels.js' %}"></script>
  <script src="{% static 'js/cta.js' %}"></script>
  <script src="{% static 'js/client_request_form.js' %}"></script>
{% endblock %}
