$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

@mixin for-sm {
  @media screen and (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin for-md {
  @media screen and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin for-lg {
  @media screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin for-xl {
  @media screen and (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin for-xxl {
  @media screen and (min-width: $breakpoint-xxl) {
    @content;
  }
}
