$text-white: white;
$text-black: black;
$text-accent-light: #79bed9;
$text-accent: #2192bf;
$text-gray: #6d6d6d;

$bg-accent-gradient: linear-gradient(85deg, #2192bf 0%, #1ad2d6 100%);
$bg-accent-gradient-darken: linear-gradient(
  85deg,
  darken(#2192bf, 10%) 0%,
  darken(#1ad2d6, 10%) 100%
);
$bg-accent: #2192bf;
$bg-white: white;

$transition-duration: 0.3s;
$transition: ease-in-out $transition-duration;
